<a href="https://colab.research.google.com/github/yangwonju/aipython/blob/main/2024_01_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
##수업 실습내용
'''

df = pd.read_excel('data.xlsx')
df[(df['국어']>=80) | (df['수학']>=90)]
df.sort_values(by=['이름'],ascending = False)
print(list(df.columns))
df.groupby('반').sum()
df.groupby('반').mean()
df.isna()
df.fillna((0),inplace = False)
df2 = df.dropna(subset = ['국어'])
df2 = df.dropna()
df['총점'] = df['국어']+df['수학']
df
'''

<ipython-input-59-4e3a46090d66>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('반').sum()
<ipython-input-59-4e3a46090d66>:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('반').mean()

    반   이름 성별    국어     수학 응시여부 확인여부     총점
0  A반  구이서  남  90.0   89.0   응시   확인  179.0
1  B반  김이정  여  78.0   45.0   응시   확인  123.0
2  A반  오지수  남   NaN    NaN   응시   확인    NaN
3  B반  김선후  남  33.0   44.0   응시  NaN   77.0
4  A반  하진희  여   0.0   85.0   응시  NaN   85.0
5  A반  강현진  남   NaN    NaN  NaN  NaN    NaN
6  B반  김진솔  남  90.0   89.0   응시   확인  179.0
7  B반  박서준  여  78.0   45.0   응시   확인  123.0
8  A반  김성희  남   NaN    NaN  NaN   확인    NaN
9  B반  이지서  여  86.0  100.0   응시   확인  186.0

In [66]:
import pandas as pd

df_boxoffice = pd.read_excel('BoxOffice.xlsx')
df_boxoffice.info()


movie_cc = df_boxoffice['대표국적'].value_counts()
print(movie_cc)

uk = df_boxoffice[df_boxoffice['대표국적'] == '영국']
print(uk)

top_rank = df_boxoffice.groupby('대표국적')['순위'].min()
print(top_rank)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB
한국    116
미국     82
일본      1
영국      1
Name: 대표국적, dtype: int64
      순위     영화명        개봉일          매출액      관객수  스크린수   상영횟수 대표국적  국적  \
194  195  어바웃 타임 2013-12-05  25312684300  3449451   568  67267   영국  영국

                     배급사
194  유니버설픽쳐스인터내셔널 코리아(유)
대표국적
미국      5
영국    195
일본    172
한국      1
Name: 순위, dtype: int64