<a href="https://colab.research.google.com/github/yangwonju/aipython/blob/main/2024_01_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
data = "John,30,Engineer/nAlice,25,Designer"
lines = data.split("/n")

for line in lines:
  fields = line.split(',')
  print(fields[0],fields[1],fields[2])

John 30 Engineer
Alice 25 Designer

In [4]:
words = ['Hello','World','this','is','a','test']
sentence = ' '.join(words)
print(sentence)

Hello World this is a test

In [9]:
input = "Geeks for Geeks"
print(input.split(" "))

['Geeks', 'for', 'Geeks']

In [7]:
data = map(str,input().split())
print(list(data))

Geeks for Geeks
['Geeks', 'for', 'Geeks']

In [8]:
input = ['Geeks','for','Geeks']
sentence = "-".join(input)
print(sentence)

Geeks-for-Geeks

In [12]:
list = [x**2 for x in range(1,6,1)]
print(list)
list2 = [x**2 for x in range(1,6,1) if x%2==0]
print(list2)
lisat = [x**2 for x in range(1,21,1) if x%3==0]
print(lisat)

[1, 4, 9, 16, 25]
[4, 16]

In [20]:
a = ['Seoul', 'New york', 'London', 'Shanghai', 'Paris', 'Tokyo']

result = [city for city in a if 'S'in city]
print(result)

['Seoul', 'Shanghai']

In [29]:
fruits = ['a','b','c']
for i,fruit in enumerate(fruits,start=1):
  print(i,fruit)

1 a
2 b
3 c

In [28]:
x = ['a','b','c']
for i,fruit in enumerate(fruits):
  print('fruit',i,sep='',end='')
  print(" name is",fruit)

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [34]:
names = ["John","Jane","Doe"]
ages = [25,30,35]

for name,age in zip(names,ages):
   print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [38]:
names = ["M","N","S","A"]
roll_no = [4,1,3,2]
aa = set(zip(names,roll_no))
print(aa)

{('S', 3), ('M', 4), ('A', 2), ('N', 1)}

In [9]:
names = ['M','R','C']
ages = [24,50,18]

result = list(enumerate(zip(names, ages)))

for index, (name, age) in result:
    print(index, name, age)

0 M 24
1 R 50
2 C 18

In [18]:
add = lambda x,y:x+y
num1 = [4,5,6]
num2 = [7,8,9]
ss = list(map(add,num1,num2))
print(ss)

[11, 13, 15]